

<% if user_signed_in? %>


  <table class="table table-striped table-bordered table-hover">
     <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @colleagues.each do |colleague| %>
      <% if colleague.user == current_user%>
        <tr>
          <td>
            <%= link_to colleague.first_name + ' ' +colleague.last_name, colleague %>
          </td>
          <td><%= colleague.email %></td>
          <td><%= colleague.phone %></td>
          <td><%= colleague.twitter %></td>
          

          <td>
            <%= link_to 'Delete', colleague, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

<br>

<%= link_to 'New Colleague', new_colleague_path, class:"btn btn-secondary" %>
<% else %>

<h1>Hello World!</h1>
This is my first Rails Webpage...

<% end %>